*

!.gitignore
!.gitkeep
!README.md

!.github
!.github/workflows
!.github/workflows/utest.yml
!.github/workflows/integration_test.yml

!srcs
!srcs/modules
!srcs/**/**.py

!notebook
!notebook/**.ipynb

!tests
!tests/unit
!tests/integration
!tests/**/**.py

!data
!data/data.csv

!config
!config/**

!requirements.txt
!pytest.ini
!Makefile
!Dockerfile
!compose.yml
