*

!.github
!.github/workflows
!.github/workflows/utest.yml
!.github/workflows/integration_test.yml

!config
!config/Dockerfile
!config/jupyter_notebook_config.py
!config/requirements.txt
!config/pytest.ini

!notebook
!notebook/**.ipynb
!notebook/img
!notebook/img/**.png

!srcs
!srcs/modules
!srcs/**/**.py

!data
!data/data.csv

!tests
!tests/unit
!tests/integration
!tests/**/**.py

!.gitattributes
!.gitignore
!.gitkeep
!compose.yml
!Makefile
!README.md
