*

!.gitignore
!.gitkeep
!README.md

!.github
!.github/workflows
!.github/workflows/utest.yml

!srcs
!srcs/modules
!srcs/**/**.py

!tests
!tests/unit
!tests/**/**.py

!data
!data/data.csv

!requirements.txt
!pytest.ini
